body{
  margin:0px;
    background:white;
    font-family: Verdana;
}
.barrapad{
  display:flex;
  background: #16A085;
}

.barra{
  margin: 0;
  width:30%;
  display:flex;
  align-items: center;
}
.barra2{
  width: 70%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.barraop
{
  width: 90%;
  height: 50px;
  display:flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.menucon
{
  height: 50px;
  width: auto;
}
#bot-menu
{
  display: none;
}
.barrapad label
{
  display: none;
  width: 50px;
}
.barrapad label:hover
{
  cursor: pointer;
  background-color: rgba(255,255,255,0.4);
}

.logo{
  margin-left: 20px;
  height: 50px;
  width: auto;
}

#botones{
  margin-right:10px;
  outline:none;
  color: #FFF;
  text-decoration: none;
    border-bottom: solid #DCDCDC 2px;
  padding: 15px 30px;
    font-family: Arial,sans-serif;
    font-size: 15px;
  transition: 0.2s;
}
#botones:hover{
    border-bottom: solid #FFF 4px;
}
#botones:active{
    border: inset #52BE80 4px;
}
#menuico
{
  margin-left:30px;
  margin-right:30px;
  height: 50px;
  width: auto;
}
#botones2{
  outline:none;
  color: #FFF;
  text-decoration: none;
  border-bottom: solid #FFF 2px;
  padding: 10px 30px;
  font-family: sans-serif;
  font-size: 15px;
  transition: 0.2s;
}
#botones2:hover{
    background: rgba(250,250,250,0.5);
}
#botones2:active{
    background: rgba(0,0,0,0.5);
}
#menop{
  background: #FF8F00;
  width: 20%;
  height: 34rem;
  display: flex;
  flex-direction: column;
}
h2{
  color: white;
  text-align: center;
}
#conpad{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}
.form{
    height: auto;
    width: 80%;
}
h3
{
  text-align: center;
}

form{
  background: -webkit-linear-gradient(#FFFF8D,#FFFDE7);
  width: auto;
  padding: 10px 2% 10px 2%; 
}

.bus
{
  margin-left: 5px;
  outline: none;
  border: none;
  width: 25%;
  padding: 10px;
  border: solid 2px #000;
  border-radius: 10px;
  font-size: 15px;
  color: #000;
}
.bus:hover
{
  border: solid 2px #78909C;
}
.ce
{
  margin-left: 5px;
  outline: none;
  border: none;
  width: 25%;
  padding: 10px;
  border: solid 2px #000;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 15px;
  color: #000;
}
.ce:hover
{
  border: solid 2px #78909C;
} 

.a {
  background-color: #00C853;
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 10px;
  margin-left: -6px;
  border: solid #00C853 2px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  outline: none;
  transition: 0.2s;
}
.a:hover{
    background: #69F0AE;
    transition: 0.2s;
    border: solid #69F0AE 2px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
}
.a:active{
  border: inset #43A047 2px;
}

footer
{
  font-family: Verdana, sans-serif;
  border-color: gray;
  text-align: center;
  color:black;
  font-size: 12px;
}
/*---------------------------------------------*/
@media(max-width: 900px)
{
  .barrapad label
  {
    display: block;
    align-self: flex-end;
  }
  .barraop
  {
    position: absolute;
    justify-content: stretch;
    flex-grow: 0;
    flex-direction: column;
    background: #16A085;
    margin-top: -1000px;
    height: auto;
    width: 50%;
    transition: all 0.2s;
  }
  #botones
  {
    border-bottom: none;
    border-top: 1px solid #FFF; 
  }
  #botones:hover{
      background-color: rgba(255,255,255,0.4);
      border-bottom: none;
  }
  #bot-menu:checked ~ .barraop
  {
    margin-top: 120px;
  }
  .ce
  {
    width: 50%;
  }
}